PAYME_ID=your_payme_id
PAYME_KEY=your_payme_key

CLICK_SERVICE_ID=your_service_id
CLICK_MERCHANT_ID=your_merchant_id
CLICK_MERCHANT_USER_ID=your_merchant_user_id
CLICK_SECRET_KEY=your_secret_key

IS_TEST_MODE=True
